---
layout: layout-page.njk
title: Pagina de Acerca
description: Meta descripcion de la pagina de acerca
---

<h1>{{ title }}</h1>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam facilis vitae fugit? Adipisci est vel asperiores commodi dolorem facere aperiam libero ut accusantium? Amet alias quis quisquam eum a odit!
</p>

<img src="/img/eleventy-mascots.avif" alt="Mascotas Eleventy">